<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>And he said, “Jesus, remember me when you come into your kingdom.” And he said to him, “Truly, I say to you, today you will be with me in Paradise.”</p>
